// ◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️
// 色指定（共通性のあるものは出来る限り指定すると良い）
// ◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️◾️

$black: #111111;
$white: #ffffff;
$white2: #f2f2f2;
$green: #408f95;
$green2: #ddf0f1;
$dark-green: #0d2936;
$brown: #796a64;
$red: #c94800;
