$jp-font-family1: "Noto Sans JP", sans-serif;
$jp-font-family2: "Noto Serif JP", serif;
$en-font-family1: "Gotu", sans-serif;
$en-font-family2: "Lato", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;
